{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}

{% block content %}
    <div class="container vh-100 home-image">
        <div class="row h-100">
            <div class="col-12 col-sm-7 my-auto">
                <div class="d-flex justify-content-center justify-content-sm-end"><h1 class="display-4 text-white text-center home-text">Welcome to Alpha Exchange</h1></div>
                <div class="d-flex justify-content-center justify-content-sm-end"><h2 class="display-6 text-white text-center home-text">Follow the link below to begin shopping!</h2></div>
                <div class=" my-5 d-flex flex-wrap justify-content-center">
                    <h3>
                        <a href="{% url 'all_products' %}" class="btn btn-light text-uppercase" >Let's Shop!</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}