{% if size %}
    <!-- Product size selection -->
    <div class="col-auto p-0">
        <div class="form-group my-1">
            <div class="input-group">
                <select class="form-select select_input ps-2" aria-label="product_size" name="product_size">
                    <option value="xs">XS</option>
                    <option value="s">S</option>
                    <option value="m" selected>M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                </select>
            </div>
        </div>
    </div>
{% endif %}
<div class="col-auto p-0">
    <div class="form-group my-1">
        <!-- Quantity field and buttons -->
        <div class="input-group input-group-{{ product.id }}">
            <button class="decrement-qty btn btn-light select_input rounded-start p-0" 
                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                <span class="sr-only">decrement-qty</span>
                <i class="fas fa-minus"></i>
            </button>
            <label class="sr-only" for="id_qty_{{ product.id }}">quantity</label>
            <input class="form-control select_input ps-2 pe-0" type="number"
                name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}"
                id="id_qty_{{ product.id }}">
            <button class="increment-qty btn btn-light select_input rounded-end p-0"
                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                <span class="sr-only">increment-qty</span>
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
</div>