{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}Order Complete{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="logo-font my-5">Thank You for your order!</h1>
                <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>
        <!-- Display order details -->
        <div class="row">
            <div class="col-12 col-lg-6 mt-4">
                <div class="p-2 border border-3 rounded">
                    <div class="row">
                        <p class="mb-0 text-black"><strong>Order Info:</strong></p>
                    </div>
                    <!-- Order Number -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-break text-black">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <!-- Order Date formatted dd/mm/yyyy -->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">{{ order.date|date:"d/m/Y" }}</p>
                        </div>
                    </div>
                    <!-- Delivery details -->
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 mt-4 text-black"><strong>Delivering To:</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">{{ order.full_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">{{ order.phone_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">County</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">{{ order.town_or_city }}</p>
                        </div>
                    </div>
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Country</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">{{ order.country }}</p>
                        </div>
                    </div>
                    <!-- Billing Information -->
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 mt-4 text-black"><strong>Billing Info:</strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">£{{ order.order_total }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Delivery</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">£{{ order.delivery_cost }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <p class="mb-0 text-black">£{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-4">
                <div class="p-2 border border-3 rounded">
                    <!-- List of Products Ordered -->
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 text-black"><strong>Products Ordered:</strong></p>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black">
                                    {{ item.product.name }}{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}
                                </p>
                            </div>
                            <div class="col-12 col-md-8">
                                <p class="mb-0 text-black">{{ item.quantity }} @ £{{ item.product.price }} each</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-light rounded my-2">
                        <i class="fas fa-arrow-left"></i>
                        <span class="text-uppercase">Return To My Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'all_products' %}" class="btn btn-light rounded my-2">
                        <i class="fas fa-gifts"></i>
                        <span class="text-uppercase">Now check out the latest deals!</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}