{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block extra_title %}Shopping Basket{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="display-6 text-center my-3">Shopping Basket</h1>
    </div>
    <div class="row">
        <div class="col">
            {% if basket_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-bordered">
                        <thead class="table-header border border-3">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                            <tr class="border border-3">
                                <td class="w-25">
                                    <img class="cust-img" src="{{ item.product.image.url }}">
                                </td>
                                <td class="py-3">
                                    <a class="nav-link" href="{% url 'product_detail' item.product.id %}">
                                        <p><strong>{{ item.product.name }}</strong></p>
                                    </a>
                                    <p class="my-0">
                                        <strong>Size: </strong>
                                        {% if item.product.has_sizes %}
                                            {{ item.size|upper }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </p>
                                    <p class="my-0">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p>£{{ item.product.price }}</p>
                                </td>
                                <td class="py-3">
                                    <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="input-group my-1 input-group-{{ item.item_id }}">
                                            <div class="col-12">
                                                <label><span class="sr-only">Quantity: </span>
                                                <input class="form-control select_input ps-2 pe-0 id_qty_{{ item.item_id }} 
                                                    {% if item.size %}size_{{ item.item_id }}_{{ item.size }}{% endif %}" 
                                                    type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                    data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                                                </label>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <button class="decrement-qty btn btn-light select_input rounded p-0 decrement-qty_{{ item.item_id }} 
                                                    {% if item.size %}decrement-size_{{ item.item_id }}_{{ item.size }}{% endif %}" 
                                                    data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                                                    <span class="sr-only">decrement-qty</span>
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <button class="increment-qty btn btn-light select_input rounded p-0 increment-qty_{{ item.item_id }} 
                                                    {% if item.size %}increment-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                                                    data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                                                    <span class="sr-only">increment-qty</span>
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        {% if item.product.has_sizes %}
                                            <input type="hidden" name="product_size" value="{{ item.size }}">
                                        {% endif %}
                                    </form>
                                    <div class="d-flex flex-wrap justify-content-md-between">
                                        <a class="update-link text-info mt-2">Update</a>
                                        <a class="remove-item text-danger mt-2" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">Remove</a>
                                    </div>
                                </td>
                                <td class="py-3">
                                    <p>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="border border-3">
                            <td colspan="5" class="pt-2 text-right">
                                <h6><strong>Subtotal: £{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                <h4><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 delivery-msg">
                                        You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="border-remove">
                            <td colspan="5" class="text-right border-remove">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <a href="javascript:history.back()" class="btn btn-light rounded btn-lg">
                                            <i class="fas fa-arrow-left"></i>
                                            <span class="text-uppercase">back to the shop!</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="{% url 'checkout' %}" class="btn btn-light rounded btn-lg">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <i class="fas fa-lock"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <h2 class="fs-2 my-5">Your basket is empty!</h2>
                <a href="javascript:history.back()" class="btn btn-light btn-lg">
                    <i class="fas fa-arrow-left"></i>
                    <span class="text-uppercase">back to the shop!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'basket/js/basket-qty.js' %}"></script>
    <script src="{% static 'products/js/qty-box.js' %}"></script>
{% endblock %}