{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <h1 class="display-6 text-center my-3">Shopping Basket</h1>
    </div>
    <div class="row">
        <div class="col">
            {% if basket_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-bordered">
                        <thead class="table-header border border-3">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Product total</th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                            <tr class="border border-3">
                                <td class="w-25">
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                </td>
                                <td class="py-3">
                                    <a class="nav-link" href="{% url 'product_detail' item.product.id %}">
                                        <p><strong>{{ item.product.name }}</strong></p>
                                    </a>
                                    <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                    <p class="my-0">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p>${{ item.product.price }}</p>
                                </td>
                                <td class="py-3">
                                    <p>{{ item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <p>${{ item.product.price }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="border border-3">
                            <td colspan="5" class="pt-2 text-right">
                                <h6><strong>Subtotal: ${{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                <h4><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                {% if free_delivery_delta > 0 %}
                                    <p class="mb-1 delivery-msg">
                                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                    </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="border-remove">
                            <td colspan="5" class="text-right border-remove">
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <a href="javascript:history.back()" class="btn btn-light rounded btn-lg">
                                            <i class="fas fa-arrow-left"></i>
                                            <span class="text-uppercase">back to the shop!</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="" class="btn btn-light rounded btn-lg">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <i class="fas fa-lock"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="fs-2 my-5">Your basket is empty!</p>
                <a href="javascript:history.back()" class="btn btn-light btn-lg">
                    <i class="fas fa-arrow-left"></i>
                    <span class="text-uppercase">back to the shop!</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
