@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');

/* Light Mode Theme */
:root.light {
    --headertext: 'Inter', 'sans-serif';
    --bodytext: 'Quicksand', 'sans-serif';
    --menu-color: #568Cff;
    --background-color: #D0D0D0;
    --accent-color: #FFC05A;
    --font-color: #000;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Dark Mode Theme */
:root:not(.light) {
    --headertext: 'Inter', 'sans-serif';
    --bodytext: 'Quicksand', 'sans-serif';
    --menu-color: #14213D;
    --background-color: #969696;
    --accent-color: #EB9100;
    --font-color: #fff;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

html {
    height: 100%;
}

.home-image {
    background-image: url('/media/shopping-cart.webp');
    background-size: cover;
    min-width: -webkit-fill-available;
}

/* from Bulma/ Boutique Ado */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Header Styles */
.bg-light {
    background-color: var(--menu-color) !important;
}

.navbar-brand {
    background-color: var(--background-color);
    border-radius: 6px;
    padding: 5px;
}

.nav-link, .icon {
    color: var(--font-color) !important;
}

#search input {
    border-radius: 6px 0 0 6px;
}

#search div button {
    border-radius: 0 6px 6px 0;
}

/* Theme Switch Styles */
.switch {
    width: 76px;
    height: 38px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background-color: var(--background-color);
    text-indent: -200px;
    border-radius: 6px;
}

.slider {
    border-radius: 6px;
}

:root:not(.light) .switch span {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
}

:root:not(.light) .switch input, #theme {
    display: none;
}

:root:not(.light) .slider {
    transition: 0.4s;
    height: 38px;
    width: 38px;
    display: inline;
    position: relative;
    background: var(--accent-color);
}

:root:not(.light) .slider {
    transform: translateX(0px);
}

:root.light .slider {
    transform: translateX(38px);
}

:root.light .switch span {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
}

:root.light .switch input, #theme {
    display: none;
}

:root.light .slider {
    transition: 0.4s;
    height: 38px;
    width: 38px;
    display: inline;
    position: relative;
    background: var(--accent-color);
}