/* Light Mode Theme */
:root.light {
    --bodytext: 'Inter', 'sans-serif';
    --menu-color: #568cff;
    --card-color: 86, 140, 255;
    --background-color: #D0D0D0;
    --btn-hover-color: #969696;
    --btn-hover-font: #fff;
    --accent-color: #FFC05A;
    --font-color: #000;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Dark Mode Theme */
:root:not(.light) {
    --bodytext: 'Inter', 'sans-serif';
    --menu-color: #14213d;
    --card-color: 20, 33, 61;
    --background-color: #969696;
    --btn-hover-color: #D0D0D0;
    --btn-hover-font: #000;
    --accent-color: #EB9100;
    --font-color: #fff;
    --toggler: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


/* Common Styles */
html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    font-family: var(--bodytext);
}

.home-image {
    background-image: url('/media/shopping-cart.webp') !important;
    background-size: cover;
    min-width: -webkit-fill-available;
}

.title {
    text-align: center!important;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 300;
    line-height: 1.2;
}

/* from Bulma/ Boutique Ado */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

h1, h2, h3, h4, h5, h6, p, th, .icon {
    color: var(--font-color);
}

.btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--font-color);
}

.btn-dark {
    background-color: var(--menu-color);
    border-color: var(--menu-color);
    color: var(--font-color);
}

.btn-light:hover {
    background-color: var(--btn-hover-color);
    border-color: var(--btn-hover-color);
    color: var(--btn-hover-font);
    border-radius: 6px;
}

/* Header Styles */
.navbar {
    background-color: var(--menu-color) !important;
}

.navbar-brand {
    background-color: var(--background-color);
    border-radius: 6px;
    padding: 0;
    height: 40px;
}

.navbar-brand .nav-link, .nav-link img {
    height: inherit;
    width: inherit;
    border-radius: 6px;
}

.nav-link {
    color: var(--font-color) !important;
    text-decoration: underline 2px var(--font-color);
}

#search input {
    border-radius: 6px 0 0 6px;
}

#search div button {
    border-radius: 0 6px 6px 0;
}

.navbar-toggler-icon {
    background-image: var(--toggler)
}

.logo {
    font-size: 1rem!important;
    margin: 0 !important;
}

.navbar-toggler {
    font-size: 30px;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

/* Theme Switch Styles */
.switch {
    width: 76px;
    height: 38px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background-color: var(--background-color);
    text-indent: -200px;
    border-radius: 6px;
}

.slider {
    border-radius: 6px;
}

:root:not(.light) .switch span {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
}

:root:not(.light) .switch input, #theme {
    display: none;
}

:root:not(.light) .slider {
    transition: 0.4s;
    height: 38px;
    width: 38px;
    display: inline;
    position: relative;
    background: var(--accent-color);
}

:root:not(.light) .slider {
    transform: translateX(0px);
}

:root.light .slider {
    transform: translateX(38px);
}

:root.light .switch span {
    position: relative;
    display: block;
    width: 38px;
    height: 38px;
}

:root.light .switch input, #theme {
    display: none;
}

:root.light .slider {
    transition: 0.4s;
    height: 38px;
    width: 38px;
    display: inline;
    position: relative;
    background: var(--accent-color);
}

/* Basket Styles */
.basket-icon{
    position: absolute;
    left: 6px;
    top: calc(100% - 1.05em);
}

.prod_details_btn {
    padding-left: 28px;
}

.input-wrapper{
    position: relative;
}

.table-header {
    background-color: var(--menu-color);
}

.table-bordered .border {
    border-color: var(--font-color) !important;
}

.border-remove {
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.delivery-msg {
    background-color: var(--accent-color) !important;
    color: var(--font-color);
}

/* Media Queires */
@media screen and (max-width: 1050px) {
    .logo, .nav-link, .nav-item {
        font-size: 90% !important;
    }
}


@media screen and (max-width: 500px) {
    .logo {
        display: none;
    }
}
