@import "/static/css/variables.css";

.card {
    position: relative;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5em;
    background: linear-gradient(
        rgba(var(--card-color), 1),
        rgba(var(--card-color), 0)
    );
    color: var(--font-color);
}

.card-bottom-rule::after {
    transition: transform 1000ms ease;
    display:block;
    content: '';
    border-bottom: solid 3px var(--accent-color);
}

.card:hover .card-bottom-rule::after, 
.card:focus-within .card-bottom-rule::after {
    transform: scaleX(1);
}

.card:hover, .card:focus-within {
    transform: scale(1);
}

.product-rule {
    border: solid;
    border-color: var(--accent-color);
}

.category-titles {
    text-decoration: none;
    color: var(--font-color) !important;
}

.img-fluid {
    border-radius: 6px;
}

.cat-link {
    text-decoration: none;
    color: var(--font-color);
}

.select_input {
    height: 31px;
    padding: 0 1rem;
}

.input-group select {
    padding-right: 1.75rem!important;
}

@media (hover: hover) and (pointer: fine) {
    .card-content {
        transition: transform 500ms ease;
        transform: translateY(200%);
    }

    .card:hover .card-content, 
    .card:focus-within .card-content {
        transform: translateY(0);
    }

    .card-bottom-rule::after {
        transform: scaleX(0);
    }
}

.increment-qty, .decrement-qty {
    width: 31px;
}

@media screen and (min-width: 1400px) {
    .product-name {
        font-size: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .product-name {
        font-size: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .product-name {
        font-size: 120%;
    }
}