{% extends "base.html" %}
{% load static %}

{% block extra_title %}Error 400{% endblock %}

{% block content %}
    <div class="container mb-3">
        <div class="row py-5">
            <div class="col-12 col-sm-6 mx-auto">
                <h1 class="display-4 text-center">Error 400 Bad Request!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 mx-auto text-center">
                <p class="fs-3">An error has occurred please head back to the main website.</p>
                <button class=" btn btn-lg btn-light" onclick="location.href='{% url 'home' %}'" type="button">Return Home</button>
            </div>
        </div>
    </div>
{% endblock %}