.form-label {
    display: none;
}

@media screen and (max-width: 800px) {
    .btn-lg {
        padding: 0.4rem 0.8rem !important;
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 500px) {
    .btn-lg {
        padding: 0.3rem 0.6rem !important;
        font-size: 0.9rem !important;
    }

    .checkout-text p {
        font-size: 80%;
    }
}