/* Table Styles */
.table-header {
    background-color: var(--menu-color);
}

.table-bordered .border {
    border-color: var(--font-color) !important;
}

.border-remove {
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.delivery-msg {
    background-color: var(--accent-color) !important;
    color: var(--font-color);
}

/* Images styles */
.cust-img {
    border-radius: 6px;
    padding: 1%;
    width: 100%;
    height: auto;
}

/* Selection box sizes */
.select_input {
    height: 31px;
    padding: 0 1rem;
}

.qty-box {
    min-width: 50px;
}

.increment-qty, .decrement-qty {
    width: 31px;
}

.increment-qty {
    float: right;
}

.remove-item, .update-link {
    cursor: pointer;
}

/* Show labels */
label {
    display: block;
}

td p, th, td h2, td h3, td h4 {
    color: var(--font-color);
}

.basket-product {
    background: none;
    border: none;
    margin: 0;
    text-decoration: underline 2px var(--font-color) !important;
}

/* Media queries */
@media screen and (max-width: 800px) {
    p, h6, h4, a, span{
        font-size: 90%;
    }
}

@media screen and (max-width: 500px) {
    .btn-lg span {
        font-size: 70%;
    }
}