.title h1 {
    text-transform: uppercase;
    text-decoration: underline;
}

.form-label, .form-select-label {
    display: none;
}

#profile-update-form input::placeholder {
    color: #000;
}

.table-header {
    background-color: var(--menu-color);
}

.table-bordered .border {
    border-color: var(--font-color) !important;
}

.order-link {
    color: var(--font-color) !important;
    text-decoration: underline 3px var(--font-color);
}

td p, th {
    color: var(--font-color);
}

.list-group-item .nav-link {
    color: #000 !important;
    text-decoration: underline 2px #000 !important;
}