{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
    <!-- List of Categories -->
    <div class="col title">
        <h1>Categories</h1>
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for category in categories_list %}
            <div class="col-md-4">
                <a class="nav-link" href="{% url 'categories_list' category.friendly_name %}" aria-label="Go to a list of all categories.">
                    <div class="content-img">
                        <img src="" alt="">
                        <div class="title">
                            <h2>{{ category.friendly_name }}</h2>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor%}
        </div>
    </div>
    <!-- End of Categories List -->
{% endblock content %}