{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}Categories{% endblock %}

{% block content %}
    <!-- List of Categories -->
    <div class="col title">
        <h1>Categories</h1>
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for category in categories_list %}
            <div class="col-md-4">
                <a class="nav-link" href="{% url 'categories_list' category.friendly_name %}" aria-label="Go to a list of all categories.">
                    <!-- Category image -->
                    <div class="card-img">
                        {% if category.image %}
                            <img class="cust-img" width="600" height="800" src="{{ category.image.url }}" alt="{{ category.name }}">
                        {% else %}
                            <img class="cust-img" width="600" height="800" src="/media/noimage.webp" alt="{{ category.name }}">
                        {% endif %}
                    </div>
                    <div class="title mb-0">
                        <!-- Category title -->
                        <h2 class="m-0">{{ category.friendly_name }}</h2>
                    </div>
                </a>
                {% if user.is_superuser %}
                    <!-- Edit/Delete Admin Buttons -->
                    <div class="row d-flex justify-content-around">
                        <div class="col-4 p-0">
                            <p class="input-wrapper">
                                <a class="btn btn-sm btn-light" href="{% url 'update_category' category.id %}">
                                    <i class="fas fa-save fa-lg"></i> Edit
                                </a>
                            </p>
                        </div>
                        <div class="col-4 p-0">
                            <p class="input-wrapper d-flex justify-content-end">
                                <a class="btn btn-sm btn-light" href="{% url 'delete_category' category.id %}">
                                    <i class="fa-solid fa-trash-can fa-lg"></i> Delete
                                </a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endfor%}
        </div>
    </div>
    <!-- End of Categories List -->
{% endblock content %}