{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}{% if product %}Delete Product{% else %}Delete Category{% endif %}{% endblock %}

{% block content %}
<div class="container">
    <div class="col">
        <div class="row">
            <div class="col">
                <h1 class="my-5 text-center">
                    <!-- Title depends on the need -->
                    {% if product %}
                        Delete Product
                    {% else %}
                        Delete Category
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-6 mb-5">
                <form action='.' method='POST'>
                    <!-- Confirmation of deletion form -->
                    {% csrf_token %}
                    <p>Are you sure you want to delete {{ object.name }}?</p>
                    <p>
                        <input class="btn btn-light" type='submit' value='Yes'>
                        <a class = "btn btn-light" href='{{request.META.HTTP_REFERER|escape}}'>Cancel</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}