{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center my-3">
                <h1 class="display-6">Products</h1>
                {% for c in current_categories %}
                    <a class="text-decoration-none" href="{% url 'all_products' %}?category={{ c.name }}">
                        <span class="btn btn-large btn-light mt-2">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-last d-flex justify-content-center justify-content-md-end justify-content-sm-center">
                        <div class="sort-select-wrapper">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-first">
                        <p class="mt-3 text-center text-md-start">
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row my-3 justify-content-center">
                    {% for product in products %}
                        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-3 mb-3">
                            <div class="row card h-100 mx-3 my-auto">
                                <div class="card-image">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                </div>
                                <!-- Desktop -->
                                <div class="card-content d-none d-lg-block">
                                    <h2 class="fs-5 card-bottom-rule">{{ product.name }}</h2>
                                    <p class="card-text mb-0 mr-3 list-inline-item">£{{ product.price }}</p>
                                    {% if product.rating %}
                                        <small class="list-inline-item mr-3"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="list-inline-item mr-3">No Rating</small>
                                    {% endif %}
                                    {% if product.category %}
                                        <small class="list-inline-item mr-3">
                                            <i class="fas fa-tag mr-1"></i> {{ product.category.friendly_name }}
                                        </small>
                                    {% endif %}
                                    <div class="d-flex justify-content-between">
                                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-light mt-2 mx-2">View Product</a>
                                        <a href="#" class="btn btn-sm btn-light mt-2 mx-2">Add To Basket</a>
                                    </div>
                                </div>
                                <!-- Mobile -->
                                <div class="card-content d-lg-none">
                                    <h2 class="fs-5 card-bottom-rule">{{ product.name }}</h2>
                                    <div class="d-flex justify-content-between">
                                        <p class="card-text mb-0 mr-3 list-inline-item">£{{ product.price }}</p>
                                        {% if product.rating %}
                                            <small class="list-inline-item mr-3"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="list-inline-item mr-3">No Rating</small>
                                        {% endif %}
                                        {% if product.category %}
                                            <small class="list-inline-item mr-3">
                                                <i class="fas fa-tag mr-1"></i> {{ product.category.friendly_name }}
                                            </small>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-light mt-2 mx-2">View Product</a>
                                        <a href="#" class="btn btn-sm btn-light mt-2 mx-2">Add To Basket</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if products.has_previous %}
                <li><a href="?page={{ products.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if products.has_next %}
                <li><a href="?page={{ products.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}