{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center my-3">
                <h1 class="display-6">Products</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row my-3 justify-content-center">
                    {% for product in products %}
                        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-3 mb-3">
                            <div class="row card h-100 mx-3 my-auto">
                                <div class="card-image">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                </div>
                                <!-- Desktop -->
                                <div class="card-content d-none d-lg-block">
                                    <h2 class="fs-5 card-bottom-rule">{{ product.name }}</h2>
                                    <p class="card-text my-0 mr-3 list-inline-item">£{{ product.price }}</p>
                                    {% if product.rating %}
                                        <small class="list-inline-item mr-3"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="list-inline-item mr-3">No Rating</small>
                                    {% endif %}
                                    <div class="d-flex justify-content-between">
                                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-light mt-2 mx-2">View Product</a>
                                        <a href="#" class="btn btn-sm btn-light mt-2 mx-2">Add To Basket</a>
                                    </div>
                                </div>
                                <!-- Mobile -->
                                <div class="card-content d-lg-none">
                                    <h2 class="fs-5 card-bottom-rule">{{ product.name }}</h2>
                                    <p class="card-text my-0 mr-3 list-inline-item">£{{ product.price }}</p>
                                    {% if product.rating %}
                                        <small class="list-inline-item mr-3"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="list-inline-item mr-3">No Rating</small>
                                    {% endif %}
                                    <div class="d-flex justify-content-between">
                                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-light mt-2 mx-2">View Product</a>
                                        <a href="#" class="btn btn-sm btn-light mt-2 mx-2">Add To Basket</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if products.has_previous %}
                <li><a href="?page={{ products.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if products.has_next %}
                <li><a href="?page={{ products.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}