{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}Products{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col title">
                <h1>Products</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row">
                    <!-- Products sort box -->
                    {% include "products/includes/filter_box.html" %}
                </div>
                <div class="row my-3 justify-content-center">
                    {% for product in object_list %}
                        <!-- List of products -->
                        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-3 mb-3">
                            <div class="row card mx-3">
                                <!-- Product image or default backup -->
                                <div class="card-img">
                                    {% if product.image %}
                                        <img class="cust-img" width="600" height="800" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="cust-img" width="600" height="800" src="/media/noimage.webp" alt="{{ product.name }}">
                                    {% endif %}
                                </div>
                                <!-- Product Card -->
                                <div class="card-content pt-2">
                                    <!-- Product information -->
                                    <h2 class="product-name card-bottom-rule">{{ product.name }}</h2>
                                    <p class="mb-0 list-inline-item">£{{ product.price }}</p>
                                    {% if product.rating %}
                                        <small class="list-inline-item mr-3"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="list-inline-item mr-3">No Rating</small>
                                    {% endif %}
                                    <div>
                                        <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row d-flex justify-content-between">
                                                {% with product.has_sizes as size %}
                                                {% include "products/includes/size_quantity.html" %}
                                                </div>
                                                <!-- View and add to basket buttons -->
                                                <div class="row d-flex justify-content-between">
                                                    <div class="col-4 p-0">
                                                        <p class="input-wrapper my-1">
                                                            <input type="submit" class="btn btn-light btn-sm" value="Add to Basket">
                                                        </p>
                                                    </div>
                                                    <div class="col-4 p-0">
                                                        <p class="input-wrapper my-1 d-flex justify-content-end">
                                                            <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-light">View</a>
                                                        </p>
                                                    </div>
                                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                {% endwith %}
                                            </div>
                                        </form>
                                        {% include "products/includes/admin_buttons.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Product Pagination -->
        {% if is_paginated %}
            <!-- Product Pagination -->
            {% include "products/includes/pagination.html" %}
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/sort-box.js' %}"></script>
    <script src="{% static 'products/js/qty-box.js' %}"></script>
{% endblock %}